body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    font-family: Roboto, sans-serif;
    padding-top: 70px;
}


#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


#allPokemonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.pokemonCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid 1px black;
    height: 300px;
    width: 300px;
    border-radius: 10%;
}

.pokemonCard:hover {
    cursor: pointer;
}

.pokemonName {
    font-size: 24px;
}

.pokemonImage {
    height: 150px;
    width: 150px;
}

.pokemonTypes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pokemonType {
    padding: 10px;
    margin-top: 15px;
    border: solid 1px black;
    border-radius: 10%;
}

.pokemonId {
    align-self: flex-end;
    margin-right: 20px;
    font-size: 16px;
}

#loadMoreButton {
    border-radius: 10px;
    background-color: #212121;
    border-width: 0px;
    border: solid 3px black;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: white;

}

#loadMoreButton:hover {
    font-size: 32px;
    transition: 0.5s ease;
    cursor: pointer;
}


#bigCardContainer {
    display: flex;
    position: absolute;
    z-index: 900;
    top: 0;
    margin-top: 100px;
}

.pokemonCardBig {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    border: solid 3px black;
    height: 700px;
    width: 400px;
}

.pokemonNameBig {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 32px;
}

.bigCardHeader {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

}

.pokemonTypesBig {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white
}

.pokemonIdBig {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    font-size: 32px;
    color: white;
}

.bigCardNameTypes {
    padding-left: 50px;
}

.bigCardButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;

}

.bigCardButtons button {
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 12px;
}

.bigCardButtons button:hover {
    cursor: pointer;
}

.pokemonImageBig {
    height: 250px;
    width: 250px;
    z-index: 800;
}

.bigCardBottom {
    height: 340px;
    width: 90%;
    background-color: #212121;
    border-radius: 10%;
    margin-top: -100px;
}

.bigCardMenu {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.bigCardMenu div:hover {
    cursor: pointer;
    text-decoration-line: underline;
    
}


.aboutInfo {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}

.aboutInfoContainer {
    margin-top: 40px;
}

.aboutTitle {
    font-weight: bold;
    margin-right: 30px;
}

.baseStatsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.baseStatInfo {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    font-size: 12px;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.baseStatTitle {
    font-weight: bold;
}

.movesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    height: 180px;
    width: 250px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: auto;
    gap: 5px;
    color: white;
}


.moveName {
    border: solid 1px black;
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
}

.nextArrow {
    height: 30px;
    width: 30px;
}

.previousArrow {
    height: 30px;
    width: 30px;
}

.closeButton {
    height: 35px;
    width: 35px;
}



.normalBackground {
    background-color: #a8a878;
}

.fightingBackground {
    background-color: #c03028;
}

.flyingBackground {
    background-color: #a890f0;
}

.poisonBackground {
    background-color: #a040a0;
}

.groundBackground {
    background-color: #e0c068;
}

.rockBackground {
    background-color: #b8a038;
}

.bugBackground {
    background-color: #a8b820;
}

.ghostBackground {
    background-color: #705898;
}

.steelBackground {
    background-color: #b8b8d0;
}

.fireBackground {
    background-color: #f08030;
}

.waterBackground {
    background-color: #6890f0;
}

.grassBackground {
    background-color: #78c850;
}

.electricBackground {
    background-color: #f8d030;
}

.psychicBackground {
    background-color: #f85888;
}

.iceBackground {
    background-color: #98d8d8;
}

.dragonBackground {
    background-color: #7038f8;
}

.darkBackground {
    background-color: #705848;
}

.fairyBackground {
    background-color: #ee99ac;
}

.defaultBackground {
    background-color: #ccc;
}



.no-scroll {
    overflow: hidden;
}


.blur {
    filter: blur(5px);
}

.no-scroll {
    overflow: hidden;
}

@media (max-width: 420px) {

    .pokemonCardBig {
        width: 300px;
    }

    .pokemonNameBig {
        font-size: 24px;
    }

    .pokemonIdBig {
        font-size: 24px;
    }
}